# --- Managed by Ansible (NTP Client Configuration) ---

# NTP Servers (Internal/External)
{% if chrony.client_config.servers is defined and chrony.client_config.servers | length > 0 -%}
{% for server in chrony.client_config.servers %}
server {{ server.address -}}
  {%- if server.options is defined -%}
    {%- for option in server.options %} {{ option }}{% endfor -%}
  {%- endif %}

{% endfor %}
{%- endif %}

# Record the rate at which the system clock gains/losses time.
driftfile /var/lib/chrony/chrony.drift

# Allow the system clock to be stepped in the first three updates
# if its offset is larger than threshold.
{% set makestep = chrony.client_config.makestep | default({}) -%}
makestep {{ makestep.threshold | default('1.0') }} {{ makestep.limit | default('3') }}

# Enable kernel synchronization of the real-time clock (RTC).
rtcsync

{% if chrony.client_config.optional_settings is defined and chrony.client_config.optional_settings | length > 0 -%}
# Optional Settings
{% for setting in chrony.client_config.optional_settings %}
# {{ setting.description }}
{{ setting.value }}

{% endfor %}
{%- endif %}
